class Leani < Formula
  desc "Lean, state-minimized Ethereum indexing node"
  homepage "https://github.com/@REPOSITORY@"
  version "@VERSION@"
  license any_of: ["MIT", "Apache-2.0"]

  on_macos do
    if Hardware::CPU.arm?
      url "https://github.com/@REPOSITORY@/releases/download/@TAG@/leani-@TAG@-aarch64-apple-darwin.tar.gz"
      sha256 "@MACOS_ARM_SHA@"
    else
      url "https://github.com/@REPOSITORY@/releases/download/@TAG@/leani-@TAG@-x86_64-apple-darwin.tar.gz"
      sha256 "@MACOS_X86_SHA@"
    end
  end

  on_linux do
    if Hardware::CPU.arm?
      url "https://github.com/@REPOSITORY@/releases/download/@TAG@/leani-@TAG@-aarch64-unknown-linux-gnu.tar.gz"
      sha256 "@LINUX_ARM_SHA@"
    else
      url "https://github.com/@REPOSITORY@/releases/download/@TAG@/leani-@TAG@-x86_64-unknown-linux-gnu.tar.gz"
      sha256 "@LINUX_X86_SHA@"
    end
  end

  def install
    bin.install "leani"
  end

  test do
    assert_match version.to_s, shell_output("#{bin}/leani --version")
  end
end
